#top {
    margin: 0px;
    padding: 0%;
    font-family: sans-serif;
}

#bottom {
    margin: 0px;
    padding: 0%;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

#top ul {
    margin: 0px;
    padding: 0%;
}

#top li {
    display: inline;
}

#top li.top-gap {
    margin-left: 1000px;
}

#bottom ul {
    margin: 0px;
    padding: 0%;
}

#bottom li {
    display: inline;
}

#bottom li.bottom-gap {
    margin-right: 80px;
}

#logo {
    margin-top: 80px;
}

#buttons {
    margin-bottom: 80px;
}

input[type=text] {
    border: 1px solid lightgray;
    width: 500px;
    margin: 10px;
    padding: 1%;
    border-radius: 60px;
}
